.dialog-message {
    background-color: #e6f7ff;
    color: #004085;
    border-radius: 40px;
    padding: 10px 20px;
    text-align: center;
  }
  
  .success-message {
    background-color: #d4edda;
    color: #155724;
  }
  
  .error-message {
    background-color: #f8d7da;
    color: #721c24;
  }
  