<div class="container">
    <form class="menu">
        <h1 class="menu-title">Sistema de Ticket de Vuelos</h1>
        <h2 class="menu-subtitle">Menú</h2>
        <button class="menu-button" (click)="buttonClicked(1)">Modulo de Personas</button>
        <button class="menu-button" (click)="buttonClicked(2)">Modulo De Reservacion</button>
        <button class="menu-button" (click)="buttonClicked(3)">Modulo De Vuelo</button>
        <button class="menu-button" (click)="buttonClicked(4)">Modulo De Equipaje</button>
    </form>
</div>


